
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 96%;
    --foreground: 222 84% 4.9%;
    
    --card: 255 100% 100% / 0.5;
    --card-foreground: 222 84% 4.9%;

    --popover: 220 20% 96%;
    --popover-foreground: 222 84% 4.9%;
    
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 220 15% 90%;
    --secondary-foreground: 222 84% 4.9%;

    --muted: 220 15% 90%;
    --muted-foreground: 215 20.2% 45.1%;

    --accent: 220 15% 90%;
    --accent-foreground: 222 84% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;
    --chart-1: 217 91% 60%;
    --chart-2: 170 70% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 75% 60%;
    --chart-5: 340 85% 65%;
  }

  .dark {
    --background: 224 71% 10%;
    --foreground: 210 40% 98%;
    
    --card: 224 71% 4% / 0.5;
    --card-foreground: 210 40% 98%;

    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 91% 60%;
    
    --chart-1: 217 91% 60%;
    --chart-2: 170 70% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 75% 60%;
    --chart-5: 340 85% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
